.browse-history {
    width: 100vw;
    height: 100vh;
    /* padding-top: var(--td-navbar-height, 48px);
    height: calc(100vh - 80px - var(--td-navbar-height, 48px)); */
    background: #eee;
    position: relative;
    box-sizing: border-box;
}
.browse-history-navbar {
    margin-bottom: 20px;
}
.browse-history-content {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}
.browse-history-content-detail {
    /* width: 100%; */
    border-radius: 12px;
    background: #fff;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    /* overflow: hidden; */
    margin-bottom: 10px;
}
.browse-history-content-detail-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.browse-history-content-detail-mask > .mask-upload-ing {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
.browse-history-content-detail-mask > .mask-upload-ing > .center {
    width: 60%;
    color: rgba(23, 23, 23, 1);
    font-size: 12px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: justify;
    white-space: nowrap;
    line-height: 17px;
}
.browse-history-content-detail-mask > .mask-upload-ing > .center > .title {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.browse-history-content-detail-mask > .mask-upload-review {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
}
.browse-history-content-detail-mask > .mask-upload-review > .info {
    color: rgba(23, 23, 23, 1);
    font-size: 12px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    text-align: justify;
    white-space: nowrap;
    line-height: 17px;
    margin-bottom: 20px;
}
.browse-history-content-detail-mask > .mask-upload-error {
    width: 100%;
    /* height: 100%; */
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 30px;
    border-radius: 12px;
    background: linear-gradient(to bottom, transparent 100px, #fff 100px);
}
.browse-history-content-detail-mask > .mask-upload-error > .info {
    overflow-wrap: break-word;
    color: rgba(255, 33, 33, 1);
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    text-align: justify;
    line-height: 17px;
    margin-top: 8px;
    margin-right: 10px;
}
.browse-history-content-detail-mask > .mask-upload-error > .info > div {
    margin-top: 10px;
}
.browse-history-content-detail-mask > .mask-upload-error > .btn > button {
    margin-bottom: 10px;
}
.browse-history-content-detail-img {
    width: 90px;
    height: 90px;
    border-radius: 10px;
    background: #eee;
    margin-right: 22px;
}
.browse-history-content-detail-img > img {
    width: 100%;
    height: 100%;
}
.browse-history-content-detail-info {
    height: 90px;
    box-sizing: border-box;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 10px;
    flex-grow: 1;
    height: 90px;
    position: relative;
}
.browse-history-content-detail-blur {
    filter: blur(5px);
}
.browse-history-content-detail-info > .clear {
    position: absolute;
    bottom: 0px;
    right: 10px;
}
.browse-history-content-detail-info-item {
    font-family: PingFangSC, PingFang SC;
    font-weight: 400;
    font-size: 14px;
    color: #171717;
    line-height: 20px;
    text-align: justify;
    font-style: normal;
    position: relative;
    width: 100%;
}
.browse-history-content-detail-info-item > span {
    font-family: PingFangSC, PingFang SC;
    font-weight: 400;
    font-size: 14px;
    color: #BABABA;
    line-height: 20px;
    text-align: justify;
    font-style: normal;
    margin-right: 10px;
}
.browse-history-content-detail-info-item > .edit {
    margin-left: 20px;
}