.poster {
    width: 100%;
    height: 100%;
    position: relative;
}

.poster .t-swiper-nav--bottom {
    bottom: 100px !important;
}

.watermark-container {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    padding: 20px 15px;
    z-index: 10;
}

.watermark-content {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.watermark-icon {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgba(128, 128, 128, 0.6);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    flex-shrink: 0;
}
.watermark-icon-tryon {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    /* background: rgba(128, 128, 128, 0.6); */
    /* color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    flex-shrink: 0;
}
.watermark-text {
    color: #666666;
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
}